.cargoSelection {
  background-color: #f9fafb; /* cor de fundo clara */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  border-radius: 3%;
  height: 100%;
  padding-top: 5%;
}

.selectTitle {
  
  align-items: left;
  font-size: 1rem;
  margin-bottom: 2%;
}

.selectField {
  width: 18rem;
  height: 5%; /* altura relativa ao .cargoSelection */
  margin-top: 3%;
  font-size: 0.8rem;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
}

.error{
    color: red;
    font-size: 0.875rem;
    margin-top: 0.2rem;
}

@media screen and (max-width: 768px) {
  .cargoSelection {
    width:18rem;
    padding-top: 3%;
  }

  .selectTitle {
    font-size: 0.9rem;
      margin-top: 2%;

  }

  .selectField {
    width: 100%;
    font-size: 0.9rem;
    height: auto; /* altura automática para melhor responsividade */
  }
  
}

@media screen and (max-width: 480px) {
  .cargoSelection {
    width: 18rem;
    padding-top: 2%;
  }

  .selectTitle {
    font-size: 0.8rem;
      margin-top: 2%;

  }

  .selectField {
    width: 100%;
    font-size: 0.8rem;
    height: auto; /* altura automática para melhor responsividade */
  }
  
}

@media screen and (max-width: 390px) {
  .cargoSelection {
    width: 18rem;
    padding-top: 3%;
  }

  .selectTitle {
    font-size: 0.8rem;
      margin-top: 2%;

  }

  .selectField {
    width: 100%;
    font-size: 0.8rem;
    height: auto; /* altura automática para melhor responsividade */
  }
  
}

