.cargoSelection {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: 3%;
  height: 100%;
  width: 50%;
  padding-top: 5%;
}

.selectTitle {
  font-size: 1rem;
  margin-bottom: 1%;
}

.selectField {
  width: 100%;
  height: 25%; /* altura relativa ao .cargoSelection */
  padding: 2.5%;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  appearance: none;
  cursor: pointer;
}
