.formBox{
    background-color: #F9FAFB	;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: rgb(206, 199, 199) 0px 0px 10px;
    height: 100%;
    width: 50%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.inputField{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    border-radius: 3%;
    font-size: 16px;
}

.inputField input{
    width:18rem;
    padding: 2%;
    margin-top: 3%;
    border-radius: 10px solid #d1d1d1;
}

.inputField span{
    opacity: calc(60%);
}

.error{
    color: red;
    font-size: 0.875rem;
    margin-top: 0.2rem;
}

.submitButton {
  padding: 0.75rem 1.5rem;
  background-color: #3f72af;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #2e5c94;
}

@media screen and (max-width: 1230px) {
.formBox{
    font-size: 80%
}

}