.formBox{
    background-color: #F9FAFB	;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: rgb(206, 199, 199) 0px 0px 10px;
    height: 100%;
    width: 50%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.inputField{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    border-radius: 3%;
    font-size: 16px;
}

.inputField input{
    width:18rem;
    padding: 2%;
    margin-top: 3%;
    border-radius: 10px solid #d1d1d1;
}

.inputField span{
    opacity: calc(60%);
}

.error{
    color: red;
    font-size: 0.875rem;
    margin-top: 0.2rem;
}

.submitButton {
  padding: 0.75rem 1.5rem;
  background-color: #3f72af;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #2e5c94;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}

.successIcon {
  width: 80px;
  height: 80px;
  color: green; /* ou use fill se for inline SVG */
}
.successContainer {
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@media screen and (max-width: 1024px) {
  .formBox {
    width: 60%;
    padding-top: 3%;
  }

  .inputField, .error {
    font-size: 0.95rem;
    height: auto; /* altura automática para melhor responsividade */
  }
  
  .successContainer {
  height: 60vh;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .formBox {
    width: 55%;
    padding-top: 3%;
  }

  
  .inputField, .error {
    font-size: 0.9rem;
    
    height: auto; /* altura automática para melhor responsividade */
  }
  
}

@media screen and (max-width: 600px) {
  .formBox {
    width: 70%;
    padding-top: 3%;
  }

  .inputField, .error {
    font-size: 0.85rem;
    height: auto; /* altura automática para melhor responsividade */
  }
    
}

@media screen and (max-width: 480px) {
  .formBox {
    width: 80%;
    padding-top: 3%;
  }

  .inputField, .error {
    font-size: 0.8rem;
    height: auto; /* altura automática para melhor responsividade */
  }
    
}

@media screen and (max-width: 390px) {
  .formBox {
    width: 90%;
    padding-top: 3%;
  }

  .inputField, .error {
    font-size: 0.75rem;
    height: auto; /* altura automática para melhor responsividade */
  }
    
}
