
.container{
    width: 100%;  
}

.headerTitle{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h1{
    color: #111827	;
    font-size:2rem;
}

.subtitle{
    color:#374151	;
    font-size: 1rem;
}